<h1>{{title}}</h1>

<div class="row">
    <div class="col s6">
        <img src="https://avatarko.ru/img/kartinka/2/zhivotnye_kot_sobaka_prikol_1764.jpg" alt="">

        <p>no img</p>
    </div>

    <div class="col s6">
        <form action="/profile" method="post">
            <p>Your email: <stromg>{{user.email}}</stromg></p>

            <div class="input-field ">
                <input name="name" id="name" type="text" class="validate" required value="{{user.name}}">
                <label for="name">Name</label>
                <span class="helper-text" data-error="Name can not be absent"></span>
            </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>Ava</span>
                        <input type="file" name="ava">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn">To change</button>
        </form>
    </div>
</div>